/* Write your CSS code here */
.header-container {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
  height: 70px;
}
.header-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  width: 500px;
}
.logout {
  width: 30px;
  height: 30px;
  color: #fff;
  margin-right: 10px;
}
.button {
  background-color: #0b69ff;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px;
  height: 35px;
  width: 120px;
  cursor: pointer;
}
